._*
.#*
.idea*
bin-debug
build
.FlexUnit*
sha1
.DS*
Gemfile.lock
assets_src
cache
logs
.sass-cache
# do not remove - unencrypted public/private key pair should not be
# checked in.  run gpg --symmetric --output [pem file] and check in 
# the encypted file
*.pem
*/certs/*.csv
